.b-logo {

    &__item1 {
        font-family: $mainFont;
        font-size: 46px;
        color: #333333;
    }

    &__item2 {
        font-family: $mainFont;
        font-size: 12px;
        color: #999999;
    }

    &_indent {
        margin: 15px 0 15px 50px;
    }

    &_left {
        float: left;
    }
}
